/* ***** BEGIN COPYRIGHT AND LICENSE BLOCK *****
 *
 * Copyright © 2007 Milx
 * Copyright © 2007, 2008 Hector Zhao
 *
 * This file is part of FireBBS.l-hedgehog.
 *
 * FireBBS.l-hedgehog is free software: you can redistribute it
 * and/or modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * FireBBS.l-hedgehog is distributed in the hope that it will be
 * useful, but WITHOUT ANY WARRANTY; without even the implied warranty
 * of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * long with FireBBS.l-hedgehog.  If not, see <http://www.gnu.org/licenses/>.
 *
 * ***** END COPYRIGHT AND LICENSE BLOCK ***** */

body{
  background-color: black;
  color: silver;
  overflow: hidden ;
}

a:link {
  color: silver;
  text-decoration: none;
}

a:visited {
  color: silver;
  text-decoration: none;
}

a:hover {
  background: silver;
  color: #cc3333;
  text-decoration: none;
}

a:active {
  color: #cc3333;
  text-decoration: none;
}

iframe {
  background: white;
  border: 0px;
  height: 35px;
  padding: 0px;
  width: 245px;
}

img {
  background: silver;
  padding: 5px 7px;
}

.terminal_display {
  font-family : 宋体, monospace;
  font-size: 24px;
  line-height: 24px;
  white-space: pre;
  cursor: crosshair;
  position: absolute;
}

#output_area {
  margin: 0em auto 0em;
  width: 960px;
  height: 576px;
}

#float_box {
  display: none;
  position: absolute;
}

#cursor{
  color: yellow;
  text-decoration: blink;
}
